html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  background: #111;
  color: #fff;
  padding: 5px 20px;
  text-align: center;
}


.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  padding: 0;
  
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #00bcd4;
}

.footer-copy {
  font-size: 14px;
  color: #777;
}
